<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OregonStateUniversity.SlackCheckIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OregonStateUniversity.SlackCheckIn.Properties.Settings>
            <setting name="RecentSlackWebhookUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentSlackChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentSlackBotName" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentSlackPostToSlack" serializeAs="String">
                <value>False</value>
            </setting>
        </OregonStateUniversity.SlackCheckIn.Properties.Settings>
    </userSettings>
</configuration>